<h3>AuthArmor Ruby Demo</h3>
<input id="username" type="text" value="Username" onfocus="this.value='';" /><br />
<input id="login" type="button" value="Login" onclick="authenticate(document.getElementById('username').value);" />
<input id="register" type="button" value="Register" onclick="register(document.getElementById('username').value);" />
<br />
<br />
<br />

<div id="status_message" style="display: none;"></div>

<div id="qrcode_and_link" style="display: none;">
  <input id="nickname" type="hidden" value="" />
  <img id="qrcode" src="" /><br />
  <br />
  Use the AuthArmor mobile app to scan this QR Code<br />
  -or-<br />
  <a id="invite_link" target="_blank" href="">Click here</a><br />
  <br />
  Once enrolled, press the Confirm Invite button<br />
  <br />
  <input id="confirm_invite" type="button" value="Confirm Invite" onclick="confirm(document.getElementById('username').value);" />
</div>



